.envrc
.terraform
.terraform.tf*
*.tfvars
!TEMPLATE.tfvars
*.conf
!TEMPLATE.conf
*.plan
*.tfstate
*.log
*.tfstate.backup
*.tfstate.lock*
.terraform.lock.hcl
.test-data
state.tf
secrets
private
derf-deployment/testing/
*generated*
venv/
site/
**/.terraform
**/.DS_Store
*.DS_Store
.gitignore
